body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  color: white;
}

.follow-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.follow-card-header {
  display: flex;
  align-items: center;
  gap: 4px
}

.follow-card-info {
  display: flex;
  flex-direction: column;
}

.follow-card-info-username {
  opacity: .6;
}

.follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.follow-card-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.follow-card-button:hover {
  opacity: .8;
}

.follow-card-text {
  display: block;
}

.follow-card-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 6rem;
}

.follow-card-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.follow-card-button.is-following:hover .follow-card-text {
  display: none;
}

.follow-card-button.is-following:hover .follow-card-stopFollow {
  display: block;
}

.follow-card-stopFollow {
  display: none;
}