/* .GifList {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: masonry;
  gap: 1rem;
  margin-block-start: 1rem;
} */

.GifList {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-block-start: 1rem;
}

.GifList .Gif {
  margin-block-end: 1rem;
}
