.GifList {
  margin-block-start: 1rem;
  column-count: 2;
  gap: 1rem;
}

.GifList .Gif {
  margin-block-end: 1rem;
}

@media screen and (min-width: 37.5rem) {
  .GifList {
    column-count: 3;
  }
}

@media screen and (min-width: 60rem) {
  .GifList {
    column-count: 4;
  }
}